* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(248, 243, 236);
}

#btn-div {
  margin: 20px;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgb(223, 213, 213);
}

#colour-box {
  height: 150px;
  width: 150px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  outline: none;
  font-size: 25px;
  margin: 20px;
}

#form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-text {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 4px;
  display: flex;
  align-items: center;
  border: 2px solid black;
  background-color: white;
}

#search-text::placeholder {
  color: black;
}
